<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Alkitab
        </title>
    </head>
    <body>
        <h1><br>Alkitab (TB)<br><br></h1>
        <h2>
            <!-- Masukkan pencarian: -->
            <form action="/result" method="post">
                <input type="text" name ="pencarian">
            </form>
        </h2>
        <!-- <h3><br><br><br><br><br><br>
            Contoh penulisan yang valid:<br>
            <br>(*satu ayat: Yohanes 3:16)<br>
            - Yohanes 3:16<br>
            - Yoh 3:16<br>
            - yohanes 3 16<br>
            - yoh 3 16<br>
            <br>(*lebih dari 1 ayat: 1 Korintus 10:13-14)<br>
            - 1 Korintus 10:13-14<br>
            - 1 Kor 10:13 - 14<br>
            - 1 korintus 10 13 14<br>
            - 1 kor 10 13 14<br>
        </h3> -->
    </body>
</html>